#hint{
    position: absolute; 
    right: 0;
    color: yellow;
    width: 25px;
    height: 25px;
    padding: 10px;
    font-size: 1.5rem;
    z-index: 998;
}

#hintButtonDad{
    position: absolute; 
    right: 0;
    top:0;
}

#modalDad{
    display:flex; 
    align-items: center; 
    justify-content: center;
}

#modal{
    z-index: 999; 
    width: 75%; 
    height: 40%; 
    border-radius: 10px;
    background-color: white; 
    display:flex; 
    position: relative;
    padding: 20px;
}

#close{
    position: absolute; 
    right: 0;
    top:0;
    color:rgba(255, 0, 0, 0.25);
    padding: 10px;
}

#textHint{
    font-size: 01rem;
}

button{
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 10px;
}